/*--------------- Global Styles ---------------*/

*, *:before, *:after {
box-sizing: border-box;
}

@font-face {
	font-family: system-ui;
	font-style: normal;
	font-weight: 300;
	src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Segoe UI Light"), local("Ubuntu Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

@font-face {
	font-family: system-ui;
	font-style: italic;
	font-weight: 300;
	src: local(".SFNSText-LightItalic"), local(".HelveticaNeueDeskInterface-Italic"), local(".LucidaGrandeUI"), local("Segoe UI Light Italic"), local("Ubuntu Light Italic"), local("Roboto-LightItalic"), local("DroidSans"), local("Tahoma");
}

@font-face {
	font-family: system-ui;
	font-style: normal;
	font-weight: 400;
	src: local(".SFNSText-Regular"), local(".HelveticaNeueDeskInterface-Regular"), local(".LucidaGrandeUI"), local("Segoe UI"), local("Ubuntu"), local("Roboto-Regular"), local("DroidSans"), local("Tahoma");
}

@font-face {
	font-family: system-ui;
	font-style: italic;
	font-weight: 400;
	src: local(".SFNSText-Italic"), local(".HelveticaNeueDeskInterface-Italic"), local(".LucidaGrandeUI"), local("Segoe UI Italic"), local("Ubuntu Italic"), local("Roboto-Italic"), local("DroidSans"), local("Tahoma");
}

@font-face {
	font-family: system-ui;
	font-style: normal;
	font-weight: 500;
	src: local(".SFNSText-Medium"), local(".HelveticaNeueDeskInterface-MediumP4"), local(".LucidaGrandeUI"), local("Segoe UI Semibold"), local("Ubuntu Medium"), local("Roboto-Medium"), local("DroidSans-Bold"), local("Tahoma Bold");
}

@font-face {
	font-family: system-ui;
	font-style: italic;
	font-weight: 500;
	src: local(".SFNSText-MediumItalic"), local(".HelveticaNeueDeskInterface-MediumItalicP4"), local(".LucidaGrandeUI"), local("Segoe UI Semibold Italic"), local("Ubuntu Medium Italic"), local("Roboto-MediumItalic"), local("DroidSans-Bold"), local("Tahoma Bold");
}

@font-face {
	font-family: system-ui;
	font-style: normal;
	font-weight: 700;
	src: local(".SFNSText-Bold"), local(".HelveticaNeueDeskInterface-Bold"), local(".LucidaGrandeUI"), local("Segoe UI Bold"), local("Ubuntu Bold"), local("Roboto-Bold"), local("DroidSans-Bold"), local("Tahoma Bold");
}

@font-face {
	font-family: system-ui;
	font-style: italic;
	font-weight: 700;
	src: local(".SFNSText-BoldItalic"), local(".HelveticaNeueDeskInterface-BoldItalic"), local(".LucidaGrandeUI"), local("Segoe UI Bold Italic"), local("Ubuntu Bold Italic"), local("Roboto-BoldItalic"), local("DroidSans-Bold"), local("Tahoma Bold");
}

body {
  background-color: #575757;
  font-family: 'system-ui';
  font-size: 16px;
  font-weight: 400;
  f
}

.container {
  margin: 0 auto;
  width: 375px;
}


h1 {
  color: #fff;
  font-size: 1.3em;
}


h3 {
  font-size: 1.6em;
  font-weight: 900;
  line-spacing: .8em;
}

.right h3 {
 font-size: 1.5em;
}

.out h3{
  font-size: 1.2em;
}

.na h3{
  font-size: 1.5em;
  padding: 19% 0;
}




/*--------------- Navigation ---------------*/
nav {
  background-color: #007BC2;
  display: inline;
  float: left;
  margin: 0 auto;
  padding: 4% 1% 1% 1%;
  position: fixed;
  text-align: center;
  width: 375px;

}

.arrow {
  display: inline;
  float:left;
  font-size: 1.2em;
  margin: 0 auto;
  padding-top: 0;
  width: 5%;
}

.page-title {
  display: inline;
  float: left;
  margin: 0 auto;
  text-align: center;
  width: 85%;
}

.ellipsis {
  color: #fff;
  display: inline;
  float: left;
  font-size: 1.5em;
  margin: 0 auto;
  padding: 0;
  width: 10%;
}


/*--------------- Route list ---------------*/

.route-list {
  padding-top: 22%;
}

.dir-title {
  background-color: #EBEBEB;
  font-family: 'metropolis', arial, sans-serif;
  padding: 1% 4%;
}

.direction {
  background-color: #fff;
  display: inline;
  float: left;
  margin-bottom: .5%;
  padding: 0 4%;
  width: 100%;
}

.direction:hover { background-color: red; }


.left {
  display: inline;
  float: left;
  font-weight: bold;
  margin: 0 auto;
  padding: 6.1% 0;
  width: 16%;
}

.center {
  color: #007BC2;
  display: inline;
  float: left;
  margin: 0 auto;
  padding: 7.5% 2%;
  width: 59%;
}
.right {
  display: inline;
  float: left;
  line-height: 1.5em;
  margin: 0 auto;
  padding: 1.1% 0;
  text-align: left;
  width: 25%;
}

.right h4 {
  color: #575757;
  font-weight: 500;
}

.out {
  padding: 1.5% 0;
}

.minutes {
  font-size: .7em;
  font-weight: 500;
}

.am {
  font-size: .9em;
  font-weight: 500;
}
