/*--------------- Global Styles ---------------*/

*, *:before, *:after {
box-sizing: border-box;
}

@font-face {
    font-family: 'metropolisbold';
    src: url('metropolis-bold-webfont.woff2') format('woff2'),
         url('metropolis-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*
@font-face {
    font-family: 'metropolismedium';
    src: url('metropolis-medium-webfont.woff2') format('woff2'),
         url('metropolis-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'metropolissemi_bold';
    src: url('metropolis-semibold-webfont.woff2') format('woff2'),
         url('metropolis-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */


body {
  background-color: #575757;
  font-family: 'metropolis', arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  f
}

.container {
  margin: 0 auto;
  width: 375px;
}


h1 {
  color: #fff;
  font-size: 1.3em;
  font-weight: 400;
}

h2 {

}

h3 {
  font-size: 1.6em;
  font-weight: bold;
  line-spacing: .8em;
}

.right h3 {
 font-size: 1.5em;
}

.out h3{
  font-size: 1.2em;
}

.na h3{
  font-size: 1.5em;
  padding: 19% 0;
}




/*--------------- Navigation ---------------*/
nav {
  background-color: #007BC2;
  display: inline-block;
  margin: 0 auto;
  padding: 4% 1% 1% 1%;
  position: fixed;
  text-align: center;
  width: 375px;

}

.arrow {
  display: inline;
  float:left;
  font-size: 1.2em;
  margin: 0 auto;
  padding-top: 0;
  width: 5%;
}

.page-title {
  display: inline;
  float: left;
  margin: 0 auto;
  text-align: center;
  width: 85%;
}

.ellipsis {
  color: #fff;
  display: inline;
  float: left;
  font-size: 1.5em;
  margin: 0 auto;
  padding: 0;
  width: 10%;
}


/*--------------- Route list ---------------*/

.route-list {
  padding-top: 89px;
}

.dir-title {
  background-color: #EBEBEB;
  font-family: 'metropolis', arial, sans-serif;
  padding: 1% 4%;
}

.direction {
  background-color: #fff;
  display: inline;
  float: left;
  margin-bottom: .5%;
  padding: 0 4%;
  width: 100%;
}

.direction:hover { background-color: red; }


.left {
  display: inline;
  float: left;
  font-weight: bold;
  margin: 0 auto;
  padding: 6.1% 0;
  width: 16%;
}

.center {
  color: #007BC2;
  display: inline;
  float: left;
  margin: 0 auto;
  padding: 7.5% 2%;
  width: 59%;
}
.right {
  display: inline;
  float: left;
  line-height: 1.5em;
  margin: 0 auto;
  padding: 1.1% 0;
  text-align: left;
  width: 25%;
}

.right h4 {
  color: #575757;
  font-weight: 500;
}

.out {
  padding: 1.5% 0;
}

.minutes {
  font-size: .7em;
  font-weight: 500;
}

.am {
  font-size: .9em;
  font-weight: 500;
}
